<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xd1810.dao.BuyCarDao">
    <insert id="addBuyCar">
        insert into buycar (uid) value (#{uid})
    </insert>
    <select id="getBuyCarById" parameterType="Integer" resultType="com.xd1810.model.BuyCar">
        select * from buycar where id = #{id}
    </select>
    <select id="getBuyCarByUid" parameterType="Integer" resultType="com.xd1810.model.BuyCar">
        select * from buycar where uid = #{uid}
    </select>
</mapper>