<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xd1810.dao.BuyDetailDao">

    <insert id="addBuyDetail">
        insert into buydetail (gid,gcount,bcid) value (#{gid},#{gcount},#{bcid})
    </insert>
    <update id="updateBuyDetail">
        update buydetail set gcount=#{gcount} where id=#{id}
    </update>

    <delete id="delBuyDetail">
        delete from buydetail where id = #{id}
    </delete>

    <select id="getBuyDetailByGid" parameterType="Integer" resultType="com.xd1810.model.BuyDetail">
        select * from buydetail where gid = #{gid}
    </select>

    <select id="getBuyDetailByBcid" parameterType="Integer" resultType="com.xd1810.model.BuyDetail">
        select * from buydetail where bcid = #{bcid}
    </select>

    <select id="getBuyDetailById" parameterType="Integer" resultType="com.xd1810.model.BuyDetail">
        select * from buydetail where id = #{id}
    </select>

    <select id="getBuyDetail" resultType="com.xd1810.model.BuyDetail">
        select * from buydetail where gid = #{gid} and gcount = #{gcount} and bcid = #{bcid}
    </select>

</mapper>