<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xd1810.dao.OrdersDao">

    <insert id="addOrders">
        insert into orders (uid,gid,udid,time,money,state,gcount,delivery) value (#{uid},#{gid},#{udid},#{time},#{money},#{state},#{gcount},#{delivery});
    </insert>

    <update id="updateOrders">
        update orders set state=#{state},delivery=#{delivery} where id=#{id}
    </update>

    <delete id="delOrders">
        delete from orders where id = #{id}
    </delete>

    <select id="getOrdersByUid" parameterType="Integer" resultType="com.xd1810.model.Orders">
        select * from orders where uid = #{uid}
    </select>

    <select id="getOrdersById" parameterType="Integer" resultType="com.xd1810.model.Orders">
        select * from orders where id = #{id}
    </select>

    <select id="getOrdersByUidAndGidAndTime" resultMap="ordersMap">
        select * from orders where uid = #{0} and gid = #{1} and time = #{2}
    </select>

    <resultMap id="ordersMap" type="Orders">
        <id property="uid" column="uid"/>
        <result property="gid" column="gid"/>
        <result property="time" column="time"/>
    </resultMap>

    <select id="getOrdersByUidAndStateDelivery" parameterType="Integer" resultType="com.xd1810.model.Orders">
        select * from orders where uid = #{0} and state = #{1} and delivery = #{2}
    </select>

    <select id="getOrdersByGid" parameterType="Integer" resultType="com.xd1810.model.Orders">
        select * from orders where gid = #{gid}
    </select>

    <select id="getAllOrders" resultType="com.xd1810.model.Orders">
        select * from orders
    </select>

    <select id="getOrdersByStateAndDelivery" parameterType="Integer" resultType="com.xd1810.model.Orders">
        select * from orders where state = #{0} and delivery = #{1}
    </select>

    <select id="getOrdersByUdid" parameterType="Integer" resultType="com.xd1810.model.Orders">
        select * from orders where udid = #{udid}
    </select>

</mapper>