<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xd1810.dao.StockDao">

    <insert id="addStock">
        insert into stock (gid,gcount) values(#{gid},#{gcount})
    </insert>

    <update id="updateStock">
        update stock set gcount=#{gcount} where gid=#{gid}
    </update>

    <select id="getStockByGid" parameterType="Integer" resultType="com.xd1810.model.Stock">
        select * from stock where gid=#{gid}
    </select>
</mapper>