<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xd1810.dao.StockRecordDao">
    <insert id="addStockRecord">
        insert into stockrecord (gid,gcount,time,state) values (#{gid},#{gcount},#{time},#{state})
    </insert>

    <select id="getAllStockRecords" resultType="com.xd1810.model.StockRecord">
        select * from stockrecord;
    </select>

</mapper>