<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xd1810.dao.UserDetailDao">

    <insert id="addUserDetail">
        insert into userdetail (receiver,phone,address,uid) values (#{receiver},#{phone},#{address},#{uid});
    </insert>
    <delete id="delUserDetail">
        delete from userdetail where id=#{id}
    </delete>
    <update id="updateUserDetail">
        update userdetail set receiver=#{receiver},phone=#{phone},address=#{address} where id=#{id}
    </update>
    <select id="getUserDetailByUid" parameterType="Integer" resultType="com.xd1810.model.UserDetail">
        select * from userdetail where uid=#{uid}
    </select>
    <select id="getUserDetailById" parameterType="Integer" resultType="com.xd1810.model.UserDetail">
        select * from userdetail where id=#{id}
    </select>
</mapper>